
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{ 
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 0px 50px;
   

}
.header h1{
   margin-right: 40%;
   
}
.header img{
    width: 100px;
    height: 90px;
    
}
.header ul{
    display: flex;
    list-style: none;
    padding: 40px;
    gap: 50px;
    font-size: 20px;
}
.header i{
    font-size: 20px;
    padding-right: 30px;
}

.contactBtn{
   
background-color: #7C4EE4;
padding: 20px 20px;
width: 150px;
font-size: 20px;
border: none;
border-radius: 8px;
margin-right: 40px;
color: white;
}
.span{
    color:#7C4EE4;
}

.passion-left , .passion-rigth{
    width: 500px;
  
   }
.passion-parent{
    background-color: #7C4EE4;
    padding-top: 60px;
    padding-bottom: 150px;
     /* background-repeat: no-repeat;
    background-size: 100% 550%; */
    height: 550px;
    /* background-image: url(images/abstract-halftone-background-small-dots-wavy-lines-purple-colors_444390-3520.avif) */
}
.passion-parent{
    display: flex;
   /* margin-top: 130px;
   margin-bottom: 100px; */
   justify-content: space-around;

}
.passion-right img{
    width: 550px;
    height: 576px;
    border-radius: 12px;
    margin: 20px;
}
.passion-parent h1{
    margin: 30px 20px;
    color:white;
    font-size: 60px;
    font-weight: bold;
    
}

.passion-parent button{

    background-color: #ffffff;
    font-size: 30PX;
    border-radius: 7PX;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 50px;
    margin-left: 12px;

}
.passion-parent p{
    padding-left: 25px;
    margin-bottom:  10px;
    color: white;
    font-size: 20px;
}

.service{
    position: relative;
   margin: 20px;
   
}
.service1 img{
  margin: 40px 40px;
    border-radius: 10px;
    width: 1200px;
    height: 500px;
}
.service2 {

    position: absolute;
    background-color: rgb(255, 253, 253);
    border-radius: 15px;
    width: 900px;
    height: 290px;
    /* border: 2px black solid; */
    top: 60%;
    left: 340px;

}

.span2{
    color: grey;

}
.service2 button{
    background-color: #ffffff;
    font-size: 20PX;
    border-radius: 7PX;
    border: 2px #7C4EE4 solid;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
    margin-left: 12px;
    
}
.service2 p{
    padding: 20px;
    display: flex;
  gap: 10px;
}
.service2 h1{
    padding-left: 20px;
}

.post{
   
   margin-top:5%; 
  margin-left: 5%;
  margin-right: 40px;
   margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  

}
.post button{
    border: none;
    background: #7C4EE4;
    font-size: 20PX;
    border-radius: 7PX;
    color: rgb(250, 250, 250);
    padding:16px, 48px, 16px, 48px;
    width: 147px;
    height: 53px;
    
}
.parent-post{
 margin-top: 3%;
 margin-left: 3%;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;

}
.post-left img{
    
    border-radius: 20px;
    width: 712px;
    height: 456px;
 }

 .post-right{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 7120px;
    height: 415px;
    padding: 20px;
 }

 .post-right button{
    background-color: #ffffff;
    font-size: 20PX;
    border-radius: 7PX;
    border: 2px blueviolet solid;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 20px;
    margin-left: 12px;
    
}
.post-right p{
    padding: 20px;
    display: flex;
  gap: 10px;
}
span2{
    color: grey;

}
.post-right h1{
    padding-left: 20px;
}

.feature{
    margin-bottom: 2%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 20px;
    height: 650px;
    
    
}
.feature1{
    border-radius: 22px;
    
    height: 530;
   
    
}

.feature1 img{
    
        width: 100%;
        height: 360px;
        border-radius: 16px;
} 
 .feature1 a{
    font-size: 20PX;
    color: #7C4EE4;
    
   
    
}  
.feature1 h1{
    padding-top: 10px;

}
.feature1 p{
  padding-top: 10px;
    display: flex;
  gap: 10px;
}
span2{
    color: grey;

}

